.container_form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.container_form .div_text {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.message_error {
  color: red;
  font-size: 1.1rem;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.button-4 {
  width: 100%;
  height: 52px;
  appearance: none;
  background-color: #6ede8a;
  border: 0;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #59de7a;
  text-decoration: none;
  transition-duration: 0.2s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #d5d9dd;
  cursor: default;
}

.button-4:active {
  background-color: green;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.group {
  position: relative;
  margin-bottom: 35px;
}
input {
  font-size: 18px;
  padding: 10px;
  display: block;
  width: 300px;
  border: 1px solid #757575;
  border-radius: 5px;
}
input:focus {
  outline: none;
}

label {
  color: #999999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  background: #fff;
  padding-inline: 2px;
}

input:focus ~ label,
input:valid ~ label,
input:active ~ label {
  top: -8px;
  font-size: 14px;
  color: #00a11b;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #00a11b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #00a11b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #00a11b;
  }
  to {
    width: 0;
    background: transparent;
  }
}
