.container_roulette {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 100px;
  flex-wrap: wrap;
}

.button_add {
  border: none;
  color: #fff;
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s all;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 12px;
}

.button_add:hover {
  color: #fff;
  background-color: rgb(2, 146, 2);
}

.container_valor {
  display: flex;
  justify-content: space-between;
}

.courses_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_text_item {
  width: 100px;
  height: 25px;
  font-size: 14px;
}

.textField_dialog {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.textField_dialog span {
  width: 100px;
}

.button_icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button_icon:hover {
  color: gray;
}

.courses_more .button_icon {
  /* position: fixed; */
  margin-right: -100px;
  margin-left: -30px;
  margin-top: -10px;
}
.button_delete {
  border-radius: 5px;
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s all;
}
.button_delete:hover {
  color: #fff;
  background-color: rgb(255, 0, 0);
}
.button_addItem {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}
