.container_app {
  display: flex;
  width: 100%;
  max-width: 980px;
  margin: auto;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
}

.modal_prize {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.modal_prize a {
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .container_app {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}

.buttonfinalize {
  width: 100%;
  height: 52px;
  appearance: none;
  background-color: #6ede8a;
  border: 0;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.buttonfinalize:hover {
  background-color: #59de7a;
  text-decoration: none;
  transition-duration: 0.2s;
}

.buttonfinalize:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #d5d9dd;
  cursor: default;
}

.buttonfinalize:active {
  background-color: green;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.buttonfinalize:focus {
  outline: 1px transparent;
}

.buttonfinalize:before {
  display: none;
}

.buttonfinalize:-webkit-details-marker {
  display: none;
}

.container_form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.container_form .div_text {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.message_error {
  color: red;
  font-size: 1.1rem;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.politic_container {
  display: flex;
}
.politic_container input {
  position: absolute;
  height: 16px;
  cursor: pointer;
  width: 16px;
}

.button-4 {
  width: 100%;
  height: 52px;
  appearance: none;
  background-color: #6ede8a;
  border: 0;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #59de7a;
  text-decoration: none;
  transition-duration: 0.2s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #d5d9dd;
  cursor: default;
}

.button-4:active {
  background-color: green;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
