.container_app {
  display: flex;
  width: 100%;
  max-width: 980px;
  margin: auto;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
}

@media (max-width: 850px) {
  .container_app {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}
